.wrapper {
    margin-top: 32px;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 24px;
    width: 100%;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr !important;
        margin-top: 10px;
    }
}
