.selectField {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 3px;
    z-index: 1;

    &:active,
    &:focus,
    &:focus-within,
    &:focus-visible {
        z-index: 9999999 !important;
    }
}

.selectField.invalid {
    color: red;
}

.selectField.invalid .selectInput {
    border-color: red;
}

.errorContainer {
    display: absolute;
    color: red;
    bottom: -18px;
}

.selectInput {
    border-radius: dimensions.$input-radius;
    border: 1px solid colors.$input-border;
    height: dimensions.$input-height;
    width: 100%;
    max-width: 100%;
    color: colors.$input-text;
    @include typography.use-font(
        $font: typography.$font-primary,
        $size: 16px,
        $weight: 300
    );

    :global(.css-hlgwow) {
        padding-left: 12px;
    }

    &.preventOverlap {
        height: auto;
    }

    :global(.css-1u9des2-indicatorSeparator) {
        display: none;
    }

    :global(.css-tj5bde-Svg) {
        fill: #9ca3af;
    }

    :global(.css-1jqq78o-placeholder) {
        color: #333333;
    }
}

.multiValueMore {
    display: flex;
    min-width: 0;
    background-color: hsl(0, 0%, 90%);
    border-radius: 2px;
    margin: 2px;
    box-sizing: border-box;
    max-width: 100px;
    white-space: nowrap;
    border-radius: 2px;
    color: hsl(0, 0%, 20%);
    font-size: 85%;
    padding: 3px;
    padding-left: 6px;
    min-width: 30px;
}
