.wbk_fieldDescription {
    background-color: #e8fbff;
    border-radius: 15px;
    padding: 16px 20px;
    color: #1e40af;
    display: flex;
    gap: 8px;
    align-items: flex-start;
    margin-top: 16px;
}
