.selectField {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 3px;

    &:active,
    &:focus {
        z-index: 999999;
    }
}

.selectField.invalid {
    color: red;
}

.selectField.invalid .selectInput {
    border-color: red;
}

.errorContainer {
    display: absolute;
    color: red;
    bottom: -18px;
}

.selectInput {
    border-radius: 15px;
    border: 1px solid #8a9393;
    height: 50px;
    font-family: typography.$font-primary;
    font-size: 16px;
    color: #333333;
    width: 100%;
    max-width: 100%;

    :global(.css-1u9des2-indicatorSeparator) {
        display: none;
    }

    :global(.css-tj5bde-Svg) {
        fill: #333333;
    }

    :global(.css-1jqq78o-placeholder) {
        color: #333333;
    }
}

.multiValueMore {
    display: flex;
    min-width: 0;
    background-color: hsl(0, 0%, 90%);
    border-radius: 2px;
    margin: 2px;
    box-sizing: border-box;
    max-width: 100px;
    white-space: nowrap;
    border-radius: 2px;
    color: hsl(0, 0%, 20%);
    font-size: 85%;
    padding: 3px;
    padding-left: 6px;
    min-width: 30px;
}
