.wbk_input {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
}

.wbk_input__inputContainer {
    display: flex;
}

.wbk_input.wbk_input--invalid .wbk_input__input {
    border-color: colors.$red;
}

.wbk_input__labelContainer {
    display: flex;
}

.wbk_input__label {
    font-size: 14px;
    color: colors.$off-black;
}

.wbk_input__errorContainer {
    color: colors.$red;
    position: absolute;
    bottom: -18px;
    left: 0;
}

.wbk_input__input {
    border: 1px solid colors.$field-border;
    border-radius: 15px;
    height: 50px;
    margin: 0;
    padding: 0 20px 0 20px;
    font-family: typography.$font-primary;
    font-size: 16px;
    color: colors.$input-text;
    width: 100%;
    background-color: colors.$field-background;
}
