.wbk_input {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
}

.wbk_input__inputContainer {
    display: flex;
}

.wbk_input.wbk_input--invalid .wbk_input__input {
    border-color: red;
}

.wbk_input__labelContainer {
    display: flex;
}

.wbk_input__errorContainer {
    color: red;
    position: absolute;
    bottom: -18px;
    left: 0;
}

.wbk_input__input {
    border: 1px solid #8a9393;
    border-radius: 15px;
    height: 50px;
    margin: 0;
    padding: 0 20px 0 20px;
    font-family: poppins, arial;
    font-size: 16px;
    color: #212121;
    width: 100%;
    background-color: #fff;
}
