.wbk_form_notice {
    padding: 16px;
    border-radius: 8px;
    background-color: #f9fafb;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1%;
    color: #668091;
}
