.options,
.optionsWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.optionWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.inputWrapper {
    width: 100%;
}

.menuBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 1px 6px;
    min-width: unset;
}

.deleteIcon {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    min-height: 16px;
}
