$priority-colors: (
    'high': #fe0606,
    'medium': #ff7e07,
    'low': #0eb500,
);

.wbk_priority__priority {
    border-radius: 8px;
    text-align: center;
    line-height: 34px;
    display: inline-block;
    padding: 0 25px 0 25px;
}

@each $name, $color in $priority-colors {
    .wbk_priority__priority.wbk_priority__priority--#{$name} {
        background-color: rgba($color, 20%);
        color: $color;
    }
}
