.header * {
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    margin: 0 0 30px 0;
    gap: 10px;
    background-color: colors.$background-white;
    max-height: 100px;
}

.title {
    font-size: 22px;
    line-height: 32px;
    white-space: nowrap;
    margin: 0;

    @media (max-width: 768px) {
        font-size: 18px;
        line-height: 28px;
    }
}

.logoLinkContainer {
    display: flex;
}

.logoLink {
    all: unset;
    cursor: pointer;
    display: block;
    position: relative;

    @media (max-width: 768px) {
        width: 150px;        
    }
}

.logoImg {
    width: 100%;
    height: auto;
    max-height: 80px;
    object-fit: contain;
    min-height: 80px;

    @media (max-width: 768px) {
        max-width: 140px;
    }
}

.tabItemsContainer {
    width: 100%;
    display: flex;
    gap: 60px;
    justify-content: flex-end;
}

.tabItem {
    all: unset;
    cursor: pointer;
    text-align: center;
}

.tabItemActive {
    font-weight: bold;
}

.verticalLine {
    width: 1px;
    height: 20px;
    background-color: lightgray;
}
