.wbk_availabilityStep__container {
    max-width: 672px;
    width: 100%;
}

.wbk_availabilityStep__heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #111827;
    text-align: left;
    margin: 0;
}

.wbk_availabilityStep__intro {
    font-size: 14px;
    line-height: 1.5;
    color: #50575e;
    margin-bottom: 30px;
    margin-top: 8px;
}
